<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exhibition_halls</title>
</head>
<body>
<h1>Eliops</h1>


<a href="/create_hall" class="btn btn-primary">Створити зал</a><br>
<a href="/create_a_work_of_art" class="btn btn-primary">Створити витвір мистецтва</a><br>
<a href="/registration" class="btn btn-primary">Зареструвати</a><br>
<hr>
<h1>Exhibition halls</h1>





<div th:if="${#lists.isEmpty(exhibition_hallsList)}">
    <div>Залів немає😢</div>
</div>

<div th:unless="${exhibition_hallsList.isEmpty}">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Area in km^2</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="exhibition_hall : ${exhibition_hallsList}">
            <td th:text="${exhibition_hall.name}"></td>
            <td th:text="${exhibition_hall.address}"></td>
            <td th:text="${exhibition_hall.phone_number}"></td>
            <td th:text="${exhibition_hall.area}"></td>
        </tr>
        </tbody>
    </table>
</div>
<hr>





<h1>Works of art</h1>
<div th:if="${#lists.isEmpty(artsList)}">
    <div>Витворів немає😢</div>
</div>

<div th:unless="${artsList.isEmpty}">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Art material</th>
            <th>Date of create</th>
            <th>Height</th>
            <th>Width</th>
            <th>Art info</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="art : ${artsList}">
            <td th:text="${art.name}"></td>
            <td th:text="${art.art_material}"></td>
            <td th:text="${art.dateOfCreate}"></td>
            <td th:text="${art.height}"></td>
            <td th:text="${art.width}"></td>
            <td th:text="${art.a_work_of_art_info}"></td>
        </tr>
        </tbody>
    </table>
</div>





<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
</body>
</html>